//- Display a message at the top of the page telling non-js users to enable javascript
mixin noscript
  noscript
    .no-script
      | This site works best with javascript enabled - #[a(href='http://www.enable-javascript.com/', target='_blank') How to enable JavaScript]
