
include meta/_meta-basic.pug
include meta/_meta-social.pug
include meta/_no-script.pug
include meta/_skip-link.pug

include components/_example.pug
//------ yeoman hook ------ //
//- NB! The above line is required for our yeoman generator and should not be changed.
